<div class="header">
  <h1>Vote</h1>
</div>

<div class="content">
  <% @vote.attributes.each_pair do |key, value| %>
    <p><strong><%= key %>:</strong> <%= value %></p>
  <% end %>

  <%= link_to 'Back', :back, class: 'pure-button' %>
</div>
