<div class="header">
  <h1>Vote Results</h1>
</div>

<div class="content">
  <table class="pure-table-striped">
    <thead>
      <th>id</th>
      <th>Legislator</th>
      <th>Bill</th>
      <th>Vote type</th>
    </thead>

    <tbody>
    <% @vote_results.each do |vote_result| %>
      <tr>
        <td><%= vote_result.id %></td>
        <td><%= vote_result.legislator&.name %></td>
        <td><%= vote_result.bill&.title %></td>
        <td><%= vote_result.vote_type %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
